<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>

    <conversionRule conversionWord="maskedMsg"
                    converterClass="org.example.converter.MyConverter" />

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %maskedMsg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.example.filter.MyFilter"/>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSXXX} [%thread] %-5level %logger{50} - %maskedMsg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>